@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');

:root {
  --light-color: whitesmoke;
  --dark-color: black;
  --third-color: rgb(255, 192, 203);

}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--dark-color);
  font-family: "Ojuju", sans-serif;
}

h2 {
  color: var(--light-color);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.card {
  background: var(--light-color);
  padding: 15px;
  border-radius: 6px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  color: var(--third-color);
  background-color: #939191;
  padding: 15px 7px;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: bold;
  font-family: "Ojuju", sans-serif;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;

}

button:hover {
  background-color: var(--dark-color);
}

.modal-outer {
  display: grid;
  background: hsla(0, 1%, 16%, 0.7);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  /* Hide this modal until visible */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2;
}

.modal-outer.open {
  opacity: 1;
  pointer-events: all;
}

.modal-inner {
  max-width: 600px;
  min-width: 400px;
  padding: 20px;
  border-radius: 5px;
  min-height: 200px;
  background: white;
  border-radius: 5px;
  transform: translateY(-200%);
  transition: transform 2s;
}

.modal-outer.open .modal-inner {
  transform: translateY(0);
}

.modal-outer img {
  width: 100%;
}

.modal-inner.card.data-description {
  text-align: center;
}